<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 404 - Not found :(</title>

	<!-- Bootstrap4 imports -->
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/view/libraries/bootstrap/js/jquery.min.js"></script> 
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/view/libraries/bootstrap/js/bootstrap.min.js" ></script>
	<link href="/movieshop_fw_php/modules/client/view/libraries/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>

	<!-- Fontawesome imports -->
	<link href="/movieshop_fw_php/modules/client/view/libraries/fontawesome/css/all.css" rel="stylesheet" type="text/css" />

	<!-- Jquery imports -->
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/view/libraries/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/movieshop_fw_php/modules/client/view/libraries/jquery/jquery-ui.js"></script>
	<link rel="stylesheet" href="/movieshop_fw_php/modules/client/view/libraries/jquery/jquery-ui-smoothness.css" type="text/css">

	<!-- Multiple select -->
	<link rel="stylesheet" href="/movieshop_fw_php/modules/client/view/libraries/multiple-select-1.5.2/dist/multiple-select.min.css">
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/view/libraries/multiple-select-1.5.2/dist/multiple-select.min.js"></script>

	<!-- Local imports -->
	<link href="/movieshop_fw_php/modules/client/modules/contact/view/css/header.css" rel="stylesheet" type="text/css"/>
    <link href="/movieshop_fw_php/modules/client/view/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/movieshop_fw_php/modules/client/modules/contact/view/css/style_contact.css" rel="stylesheet" type="text/css"/>
	<link href="/movieshop_fw_php/modules/client/modules/home/view/css/search-bar.css" rel="stylesheet" type="text/css"/>
	<!-- <link href="modules/client/modules/cart/view/css/cart_header.css" rel="stylesheet" type="text/css"/> -->

	<script type="text/javascript" src="/movieshop_fw_php/view/js/main.js"></script>
	<!-- <script type="text/javascript" src="modules/client/modules/cart/controller/controller_cart.js"></script> -->
	<!-- <script type="text/javascript" src="modules/client/modules/login/model/activity.js"></script> -->
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/view/js/translate.js"></script>
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/view/js/functions.js"></script>
	<script type="text/javascript" src="/movieshop_fw_php/modules/client/modules/search/view/js/controller_search.js"></script>

    <!-- template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/movieshop_fw_php/modules/client/view/css/style404.css" />

</head>
<body>