
<main>
    <div class="container-wrapper">
        <div class="canvas-recover-password">
            <div class="title_recover_canvas">
                <span class="title-recover-form" data-tr="Change Password"></span>
            </div>
            
            <form class="form-recover" method="POST" name="formRecover" id="formRecover">
                <span class="error_span" id="passwd1_error"></span>
                <div class="passwords">
                    <div class="passwd1 passwd">
                        <span data-tr="Type your password:" class="sub-titles-form"></span>
                        <input type="password" class="form-control input-recover" name="pass1" id="pass1">
                    </div>
                    <div class="passwd2 passwd">
                        <span data-tr="Repeat your password:" class="sub-titles-form"></span>
                        <input type="password" class="form-control input-recover" name="pass2" id="pass2">
                    </div>
                </div>
                <span class="error_span" id="no_matches_error"></span>
            
                <input name="ChangePassword" class="btn btn-primary ChangePassword-btn" id="ChangePassword" type="button" value="Change Password"/>
            </form>
        </div>
    </div>
</main>


