
<main>
    <div class="container-wrapper">
        <div class="canvas-recover-password">
            <div class="title_recover_canvas">
                <span class="title-recover-form" data-tr="Change Password"></span>
            </div>
            
            <form class="form-request" method="post" name="formRequest" id="formRequest">
                <span class="error_span" id="email_error"></span>
                <div class="emails">
                    <span data-tr="Type your email:" class="sub-titles-form"></span>
                    <input type="email" class="form-control input-recover" name="email_pass" id="email_pass" value="jrevertvila@gmail.com">
                </div>
            
            </form>
            <input name="RequestChangePassword" class="btn btn-primary ChangePassword-btn" id="RequestChangePassword" type="button" value="Send Email"/>
        </div>
    </div>
</main>
