
<main>
    <div class="container-wrapper">
        <div class="-carousel-rating-films">

            <h2 data-tr="Top Rated Movies"><i class="far fa-star"></i> </h2>
            <br><br>
            <!-- CAROUSEL MOVIES DYNAMICALLY JQUERY -->
            <div id="top-rated-movies" class="owl-carousel owl-theme"></div>
            <br>
        </div>
        
        <hr>
        
        <div class="-carousel-visits-films">
        
            <h2 data-tr="Most Viewed Movies"><i class="far fa-star"></i> </h2>
            <br><br>
            <!-- CAROUSEL MOVIES DYNAMICALLY JQUERY -->
            <div id="top-visited-movies" class="owl-carousel owl-theme"></div>
            <br>
        </div>
        
        <hr>
        
        <div>
            <h2 data-tr="Api Movies Test"><i class="far fa-star"></i></h2>
            <br><br>
            <div id="canvas-api-movies" class="canvas-api"></div>
            <br>
        </div>
        
        <hr>
        
        <div>
            <h2 data-tr="Most Viewed Genres"><i class="far fa-star"></i></h2>
            <br><br>
            <!-- GENRES ON CARDS -->
            <div id="canvas-card-genres"></div>
            <!-- <a id="load-more-genres">LOAD MORE</a> -->
            <br>
        </div>
        
        
        <hr>

    </div>
</main>

