<div class="header">

    <div class="header-main">
        
        <div class="header-logo">
            
            <span><a href="index.php">VideoShop</a></span>
        </div>

        <div class="header-pull-right">
            <a id="shop" class="header-button" href="#" data-tr="Shop"></a>

            <a id="contact-us" class="header-button" href="#" data-tr="Contact Us"></a>

            <a id="header-register" class="header-button" href=# data-tr="Login"></a>

            <a id="header-cart" class="header-button cart-header-hover" href=#><span data-tr="Cart"></span><i class="fas fa-shopping-cart"></i><span class="num-items-cart-header"></span></a>
            
            <div class="lang-div">
                    <select name="Language" id="lang" class="form-control form-control-sm">
                        <option value="en" id="btn-en" data-tr="English">English</option>
                        <option value="es" id="btn-es" data-tr="Spanish">Spanish</option>
                        <option value="va" id="btn-va" data-tr="Valencian">Valencian</option>
                    </select>
            </div>
            
            <div class="cart-header-container cart-header-hover">
                <div class="cart-header-info"></div>
                <div class="cart-header-items"></div>
                <div class="cart-header-summary"></div>
            </div>
        </div>
        
    </div>
    

</div>
<div class="sub-header">
    <div class="form-all">
        <form class="form-search">
            <i class="fas fa-search icon-search"></i>
    
            <input type="text" name="search-bar" id="search-bar" placeholder="Write the name of the movie .." autocomplete="off">
            |
            <select id="genres" class="" name = 'genres[]' multiple="multiple"></select>
            |  
            <a href="#" class="search-button">Search</a>
        </form>
        <div class="autocomplete-div"></div>
    </div>
    
    
</div>