.cart-canvas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
    padding: 0px 70px;
}

body{
    background-color: rgb(243, 243, 243);
}

.cart-container{
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: auto;
    min-height: 350px;
    width: 100%;
    padding: 15px;
}

.cart-summary{
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 28px;
    height: 350px;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title-cart{
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 30px;
}

.item-cart{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 18px;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.item-cart-img{
    height: 100%;
    border-radius: 3px;
    margin-right: 30px;
}

.item-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-buttons{
    width: 230px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0px;
}

.price{
    font-size: 25px;
    margin-top: 32px;
    display: flex;
}

.remove-item-cart{
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #ff4747;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    
}

.item-quantity{
    display: flex;
    flex-direction: row;
}

.total-price-item{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    font-size: 20px !important;
    
}

.minus{
    width: 30px;
    height: 30px;
    background-color: #ff4747;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.quantity-input{
    width: 40px;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity-input[type=number] {
    -moz-appearance: textfield;
  }

.plus{
    width: 30px;
    height: 30px;
    background-color: #ff4747;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.purchase-button-summary{
    margin-top: 70px;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background-color: #ff4747;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}